<!DOCTYPE html>
<html>
<head>
	<title>kha.chat/ryan</title>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<script type="text/javascript" charset="utf-8" async defer>
		var socket = io.connect(document.domain + ':' + location.port);

		socket.on('connect', function(){
			socket.emit('joined');
		});
		socket.on('message', function(msg) {
			if (typeof msg !== 'undefined'){
				if (msg.type == 'connection'){
					$('#message_holder').prepend('<div><span class="sign">< </span><span class="username you">' + msg.usr + ' </span><span class="message"> '+msg.msg+'</span><span class="sign"> ></span></div>');
					$('#message_holder').prepend('<div><span class="username hayk">hayk </span><span class="message">Hi there, welcome to kha.chat/ryan!</span></div>');
					$('#message_holder').prepend('<div><span class="username hayk">hayk </span><span class="message">I\'m Hayk Khachatryan, who are you?</span></div>');

				} else if (msg.type == 'new_message'){
					if (msg.usr == 'hayk') {
					$('#message_holder').prepend('<div><span class="username hayk">' + msg.usr + ' </span><span class="message"> '+msg.msg+'</span></div>');
					} else {
					$('#message_holder').prepend('<div><span class="username you">' + msg.usr + ' </span><span class="message"> '+msg.msg+'</span></div>');
					};
				}
		}});
		$(document).keypress(function(e) {
			if (e.which == 13) {
				text = $('#message').val();
				$('#message').val('');
				socket.emit('send_message', {msg: text});
			}
		});
	</script>


	<section id="chat">
		<div id="message_holder">
			<div><span class="sign">< </span><span class="username hayk">hayk</span><span class="message"> has entered the room</span><span class="sign"> ></span></div>
			<div><span class="sign">< </span>all content will be lost on refresh/reconnection <span class="sign">></span></div>

		</div>

		<div id="input">
			<input type="text" id="message" placeholder="Message">
		</div>
	</section>



</body>
</html>